@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --first-color: #AA00FF;
    --second-color: #630094;
    --bg-color: #140126;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-default: 'Montserrat', sans-serif;
}

* {
    padding: 0; margin: 0;
    font-family: var(--font-default);
    box-sizing: border-box;
}

/* NAVBAR */

.logo {
    color: var(--white-color);
    margin-left: 1.2rem;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}
.small{
    font-size: 1.5rem;
}
.navbar {
    z-index: 100;
    position:fixed;
    display: flex;
    background-color: var(--bg-color);
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 30px rgba(0,0,0,0.5) */
}
a {
    text-decoration: none;
    color: var(--white-color);
}
ul li a {
    text-decoration: none;
    color: var(--first-color);
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
}
ul li a:hover{
    color: var(--white-color);
    text-decoration-line: underline;
}
li {
    list-style-type: none;
    margin: 0 1 .5rem;
    padding: 0 2rem;
}
ul {
    display: flex;
    margin-right: 1.2rem;
}

/* HEADER */

.header{    
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-around;
}

.header-person{
    position: relative;
    bottom: 0;  
    margin-top: auto;   
}

.header-img {
    width: 40em;
    height: fit-content;
    position: relative;
    z-index: 2;
    bottom: -4px;
    transition: all 500ms ease-in-out;
}
.header-img:hover {
    width: 45em;
}

.header-text {
    color: var(--white-color);
    font-size: 4rem;
    margin: auto 0 auto 0;
    padding-bottom: 2rem;
    position: relative;
}

.text-light {
    position: relative;
    color: var(--first-color);
    font-weight: 300;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 2;
}

.header-h2 {
    line-height: .5;
    color: var(--first-color);
}

.header-h2:first-child {
    position: relative;
    left: -50px;
}

.header-h2:last-child {
    position: relative;
    left: 50px;
    bottom: 0.15em;
}   

.rectangle-text {
    background-color: var(--first-color);
    mix-blend-mode: difference;
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 3.2em;
    height: 1.5em;
    z-index: 8;
    transition: all 0.5s ease-in-out;
}

.rectangle-text:hover {
    width: 6.6em;
}

.rectangle1 {
    background-color: var(--first-color);
    width: 230px;
    height: 230px;
    border: 10px, solid, var(--first-color);
    position: absolute;
    z-index: 1;
    margin: 5rem 0 0 4rem;
}

.rectangle2 {
    width: 350px;
    height: 350px;
    border: solid;
    border-width: .7rem;
    border-color: var(--first-color);
    position: absolute;
    z-index: 1;
    bottom: 4em;
    right: 6em;
}

.rectangle3 {
    background-color: var(--first-color);
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 3em;
    filter: blur(7rem);
    animation-name: pulse;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
/* ABOUT ME */

.aboutme {
    width: 100%;
    height: 90vh;
    background-color: var(--bg-color);
    position: relative;
}

.aboutme-bg {
    position: absolute;
    display: flex;
    height: 90vh;
    width: 100%;
    left: 0;
}

.aboutme-bg h2 {
    color: var(--bg-color);
    font-weight: 800;
    font-size: 9rem;
    position: absolute;
    left: -47%;
    display: flex;
    justify-content: center;
    top: 17.5vw;
    width: 100%;
    transform: rotate(-90deg);
}

.aboutme-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.profile-pic img {
    position: relative;
    z-index: ;
    height: 500px;
    aspect-ratio: 1;
}
.profile-pic div {
    background-color: var(--first-color);
    position: relative;
    left: 150px;
    top: -40px;
    width: fit-content;
    padding: 5px 35px;  
}

.profile-pic div h2 {
    color: var(--bg-color);
    font-size: 3rem;
    font-weight: 800;
}
.aboutme-text {
    margin-left: 5em;
    width: 40rem;

}

.aboutme-text h2 {
    color: var(--first-color);
    font-style: italic;
    font-weight: bold;
    font-size: 4em;
}

.aboutme-text p {
    position: relative;
    margin-top: 1em;
    color: var(--white-color);
    font-size: 1.4em;
    z-index: 2;
}

.aboutme-text :nth-child(3) {
    font-size: 1em;
}

.first-color {
    color: var(--first-color);
    font-size: 1em;
}

.aboutme-text .rectangle {
    position: absolute;
    background-color: var(--first-color);
    width: 60px;
    height: 250px;
    top: 250px;
    right: 550px;
    z-index: 1;
}

.skills {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.skills-press {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.skills-press h3 {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 10px;
    color: var(--first-color);
}

.skills-press img {
    margin-bottom: 30px;
    width: 50px;
}
.skills-press img:hover {
    animation: rotate3d;
    animation-duration: 1s;
}

/* SOCIALS */

.socials {
    width: 100%;
    height: 90vh;
    background-color: var(--bg-color);
}

.socials-bg h2 {
    color: var(--first-color);
    opacity: 0.2;
    font-weight: 800;
    font-size: 10rem;
    position: relative;
    top: 2.1em;
    left: -2.3em;
    width: fit-content;
    transform: rotate(-90deg);
    letter-spacing: -10px;
}

.socials-content {
    position: relative;
    top: -5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials-content h2 {
    text-align: center;
    font-weight: 400;
    font-size: 2.3em;
    letter-spacing: 0.5em;
    color: var(--first-color);
}

.social a{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.social h3 {
    font-weight: 400;
    color: var(--white-color);
    margin-left: 0.7em;
    font-size: 2em;
}

.social img {
    aspect-ratio: 1;
    width: 3em;
}

.socials-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 50px;
    width: 350px;
    margin: 5em 0em;
    background-color: var(--first-color);
}

.socials-text h2 {
    font-size: 1.3em;
    letter-spacing: 1em;
    color: var(--bg-color);
}

/* KEYFRAMES */

@keyframes pulse {
    0% { 
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% { 
        transform: scale(1);
    }
}

@keyframes rotate3d {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* RESPONSIVE  */

@media only screen and (max-width:1080px) {
    * {
        width: fit-content;
    }
    .profile-pic img {
        margin-top: 2rem;
        height: 12rem;   
        left: 0;
        top: 0;
        
    }
    .navbar {
        position: relative;
        flex-direction: column;
        width: auto;
    }
    .logo {
        margin: 1rem;
    }
    ul {
        content-visibility: hidden;
    }
    .header {
        height: 90vh;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .header-h2:first-child{
        left: 0;
    }
    .header-h2 {
        width: fit-content;
        font-size: 3.2rem;
    }
    .header-img {
        width: 20rem;
    }
    .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }
    .text-light {
        width: fit-content;
        height: fit-content;
        font-size: 1.4em;
    }
    .header-person {
        align-items: center;
        margin: 0;
    }
    .header-h2:first-child {
        padding-right: 6rem;
    }
    .header-h2:nth-child(3) {
        padding-left: 5rem;
    }
    .aboutme {
        height: fit-content;
    }
    .aboutme-bg img{
        content-visibility: hidden;
    }
    .aboutme-bg h2 {
        content-visibility: hidden;
    }
    
    .profile-pic div {
        left: 0;
        top: 0;
    }
    .rectangle1, .rectangle2, .rectangle3 {
        width: 10rem;   
        height: 10rem;
    }
    .aboutme-content {
        flex-direction: column;
    }
    .aboutme-text {
        width: auto;
        margin-left: 0;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutme-content {
    }
    .rectangle {
        visibility: hidden;
    }
    .skills-press {
        margin-left: 0;
    }
    .profile-pic div {
        content-visibility: hidden;
    }
    .aboutme-text h2 {
        font-size: 3rem;

    }
    .aboutme-text p {
        font-size: 1.2rem;
        margin-top: 0;
        padding: 0 0 10px 0;
        text-align: center;
    }
    .skills {
        height: fit-content;
        margin: 2rem 0;
    }
    .profile-pic div {
        visibility: hidden;
    }
    .socials-bg h2 {
        content-visibility: hidden;
    }
    .socials-content {
        font-size: 0.8rem;
        height: fit-content;
        top: 0; 
        margin-top: 4rem;
    }
    .socials-content h2 {
        letter-spacing: 0.4rem;
        padding: 2rem 0 2rem 0;
    }
    .socials-text {
        margin: 2rem 0 3rem 0;
    }
    .rectangle-text {
        visibility: hidden;
    }
    .socials {
        height: fit-content ;
    }
    
}